.main {
    font-family: 'Courier New', Courier, monospace;
}

.lists, 
a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: blanchedalmond;
}

img {
    margin-left: 575px;
}

p 
 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-align: justify;
    margin-left: 500px;
    margin-right: 500px;
}

.ullist {
    font-family: 'Courier New', Courier, monospace;
    list-style: inside;
    text-align: center;
    text-align: justify;
    margin-left: 550px;
    margin-right: 500px;
}

.ollist {
    font-family: 'Courier New', Courier, monospace;
}


h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Porkchops Styles */
.porky {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


/* Mussels & Chorizo Styles */

.mussels {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* Spagg with Meath Sauce */

.spag {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
